
#but {
  padding: 20px 25px 25px 20px;
  border-radius: 10px;
  background-color: rgba(191, 220, 241, 0.952);
  margin-bottom: 10px;
  margin-left: 40px
}

#txt {
  color: midnightblue;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size :20px;
}

